@import "../../styles";

.header-toolbar {
  background-color: $main-green;
  color: white;
  padding: 10px;
  -webkit-box-shadow: 0px 8px 14px 0px rgba(50, 50, 50, 0.62);
  -moz-box-shadow:    0px 8px 14px 0px rgba(50, 50, 50, 0.62);
  box-shadow:         0px 8px 14px 0px rgba(50, 50, 50, 0.62);
  button {
    background-color: $main-blue;
  }

  #noMobileForm {
    padding-top: 5px;
    background-color: white;
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;
    // width: 20%;

    position: fixed;
    top: 100px;
    left: 40%;
    border-radius: 10px;
  }

  #noMobileField {
    width: 80%;
  }

}

.headerMobile{}
.desktop-header{
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
.pointer{
  cursor:pointer;
}
