@import "../../styles";

.header-toolbar {
  background-color: $main-green;
  color: white;
  border-bottom: 3px solid lightgray;

  button {
    background-color: $main-blue;
  }

  #noMobileForm {
    padding-top: 5px;
    background-color: white;
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;
    // width: 20%;

    position: fixed;
    top: 100px;
    left: 40%;
    border-radius: 10px;
  }

  #noMobileField {
    width: 80%;
  }

}
.desktop-header{
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
.pointer{
  cursor:pointer;
}
