@import "../../styles";

#waste-list {

  mat-card{
    background-color: white;
    color:$main-green-darker;
    padding-top:0!important;

  }

  button {
    color:white;
    background-color: $main-blue;
  }
}
.list{
  margin: 0;
  padding: 30px;
  cursor: move;
  length: auto;
  left: 20px;
  top: 100px;
}

mat-card#list.mat-card{
  padding-top:0!important;
  mat-card-title{
    padding-top:15px!important;
  }
}

#deleteButton {
  float:right;
}

.showed {
  left: 0 !important;
  -webkit-animation-name: slideIn !important;
  -webkit-animation-duration: 1.5s !important;
  animation-name: slideIn !important;
  animation-duration: 1.5s !important;
}

.hidden{
    left: -400px !important;
    -webkit-animation-name: slideOut !important;
    -webkit-animation-duration: 1.5s !important;
    animation-name: slideOut !important;
    animation-duration: 1.5s !important;
}

.remove{
  color: $main-blue;
}
.articleIsMobiletrue{
  mat-form-field{
    padding-top: 15px;
    width:100%!important;
  }
  button{
    width: 100%;
    font-size: 150%;
  }
  .mobileButton{
    width: 100%;
    background-color: white !important;
    color: $main-blue !important;
    border: none !important;
    
    padding: 15px;
  }
  #deleteButton{
    visibility: hidden;
  }
}

/* Add Animation */
@-webkit-keyframes slideOut {
    from {left: 0px}
    to {left: -400px}
}

@keyframes slideOut {
    from {left: 0px}
    to {left: -400px}
}

@-webkit-keyframes slideIn {
    from {left: -400px}
    to {left: 0px}
}

@keyframes slideIn {
    from {left: -400px}
    to {left: 0px}
}

@media only screen and (max-width: 500px) {
  .showed {
    left: 0% !important;
    bottom: 0 !important;
    -webkit-animation-name: slideInBottom !important;
    -webkit-animation-duration: 1.5s !important;
    animation-name: slideInBottom !important;
    animation-duration: 1.5s !important;
  }

  .hidden{
    left: 0% !important;
      bottom: -400px !important;
      -webkit-animation-name: slideOutBottom !important;
      -webkit-animation-duration: 1.5s !important;
      animation-name: slideOutBottom !important;
      animation-duration: 1.5s !important;
  }

  @-webkit-keyframes slideOutBottom {
      from {bottom: 0px}
      to {bottom: -400px}
  }

  @keyframes slideOutBottom {
      from {bottom: 0px}
      to {bottom: -400px}
  }

  @-webkit-keyframes slideInBottom {
      from {bottom: -400px}
      to {bottom: 0px}
  }

  @keyframes slideInBottom {
      from {bottom: -400px}
      to {bottom: 0px}
  }
}
